@font-face{
    font-family: varhead;
    src: url(./Heading-Now-Variable.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
    font-family: varhead;

    /* overflow: hidden; */
}

#page1{
    height: 100vh;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: varhead;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0% 1% ;
    overflow: hidden;
    position: relative;


}

#page1 h1{
    font-size: 37vw;
    text-transform: uppercase;
    font-stretch: 350%;
    letter-spacing: -1.2vw;
    white-space: nowrap;
    position: absolute;
    padding: 0%;
    /* top:-7vh; */
}



#nav{
    /* background-color: red; */
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-stretch: 950%;
    font-weight: 200;
    font-size: 3vh;
    padding: 1% 0%;
    z-index: 99;
}

#nav a{
    color: white;
    text-decoration: none;
}

#links {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

#logo{
    
    font-weight: 400;

}

#page2{
    display: flex;
    position: relative;
}

#video{
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    /* transform: translateX(-50%); */
    /* position: absolute;
    left: 50%; */  
    /* width: 60%; */
}

video{
    height:100vh;
}

#page3{
    height: 100vh;
    width: 100%;
    background-color: black;
}

#pointer{
    height: 150px;
    width: 150px;
    color: white;
    background-color: black;
    /* mix-blend-mode: difference; */
    border-radius: 50%;
    z-index: 100;
    position: fixed;
    left: 50vh;
    display: flex;
    flex-direction: column;
    
    text-align: center;
    padding:5px;
    font-family: varhead;
    font-stretch: 900%;
    scale: 0;
    opacity: 0;
}

#play{
    position: fixed;
    top: 40%;
    left: 30%;
}

#navmenu{
    color: black;
    background-color: yellowgreen;
    height: 100vh;
    font-size: 10vh;
    font-stretch: 600%;
    width: 40vw;
    position: absolute;
    left: 100%;
    text-align: right;
    display: flex;
    flex-direction: column;
    padding-top: 7%;
}

#navmenu h4{
    font-weight: 200;
    border-bottom: solid 1px black ;
    padding-right: 3%;
}

#page2{
    background-color: white;
    color: black;
    position: relative;
    height: 80vw;
    width: 100%;
}

#title{
    height: 40%;
    width: 80%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 20%;
}

#tright{
    text-align: right;
}

.t h1{
    font-weight: 400;
    font-stretch: 850%;
    font-size: 5vw;
    line-height: 1.1;
}

.case{
    min-height: 40vh;
    width: 80%; transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    position: absolute;
}

#case1{
    transform: translate(-50%,-50%);
    left: 50%;
    top: 70%;
    
}

.case img{
    width: 100%;
}


#page3{
    height: 200vh;
    width: 100%;
    position: relative;
}
